[submodule "scratch-gui"]
	path = scratch-gui
	url = git@github.com:scratch4d/scratch-gui.git
	branch = development
[submodule "scratch-vm"]
	path = scratch-vm
	url = git@github.com:scratch4d/scratch-vm.git
	branch = development
[submodule "itch"]
	path = itch
	url = git@github.com:scratch4d/itch.git
	branch = develop
